<h5 class="col-12 text-center mt-3">通知</h5>
<div>
  <% @notifications.each do |notification| %>
    <div class="d-inline-flex p-2 bd-highlight col-12 border">
      <% case notification.action %>
        <% when "comment" then %>
          <% if notification.message.user_id == notification.visited_id %>
            <p><%= image_tag notification.visitor.avatar_image.thumb.url,:size =>'50x50' %></p>
            <p></p><%= link_to "#{notification.visitor.nick_name}さんから写真の返信がありました", 
            notification.message.room, style: "font-weight: bold; color:black;" %>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>