
  <span class= "text-center border pt-2 col-6 ">
    届いた写真
    <p class="text-center">0</p>
    <p class="text-center">件</p>
  </span>
  <span class= "text-center border pt-2 col-6">
    フォロー
    <p class="text-center">0</p>
    <p class="text-center">件</p>
  </span>

<div class="col-12 text-center pt-5">
  <h2>○○へようこそ！</h2>
  <h5>まだ届いた写真がありません。</h5>
  <h5>さっそく友達と写真を交換しよう！</h5>
  <h5><%= link_to "友達をさがす", "#" %></h5>
</div>