<footer class="mt-5 py-3 bg-light col-12 text-center d-none d-lg-block">
  <div class="col-12 text-left">
    <div class="text-center">© photoroom</div>
    <div><small><%= link_to "利用規約", "/terms", :style => "color: black;" %></div></small>
    <div><small><%= link_to "プライバシーポリシー", "/privacy", :style => "color: black" %></div></small>
  </div>
</footer>